<% provide(:title, 'Edit user') %>
<h1 class="text-center">Update your profile</h1>
<div class="row">
	<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<%= form_for(@user) do |f| %>

			<%= render "fields", f: f %>

			<%= f.button "Save changes", type: "submit", name: "commit", class: "btn btn-primary btn-lg" %>

		<% end %>

		<p><%= gravatar_for @user %>
    	<a href="http://gravatar.com/emails" target="_blank">change</a></p>

	</div>
</div>