<blockquote>
  <p><%= micropost.content %></p>
  <footer>
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <%= render partial: 'shared/delete_post_link', locals: { micropost: micropost } %>
  	
  </footer>
</blockquote>