@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#logo {
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {

  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  > .container {

  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $gray-lighter;
  > .container {
  	padding-right: 15px;
  	padding-left: 15px;
  	.text-muted {
  		margin: 20px 0;
  		float: left;
  	}
  }
  ul {
  	float: right;
  	list-style: none;
  	margin-top: 20px;
  	li {
  		float: left;
  		margin-left: 10px;
  	}
  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

code {
  font-size: 80%;
}
.debug_dump {
  clear: both;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* Forms */
#error_explanation {
    ul {
    list-style: none;
    margin: 0 0 18px 0;
    color: #f00;
  }
}

.field_with_errors {
  label {
    color: #a94442;
  }
  @extend .has-error;
}